<html>
<head>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/${extjsVersion}/${extBootstrap}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/code/app.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/code/util.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/code/resourceUrl.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/resource/plugin/extjs/${extjsVersion}/${extjsTheme}" />
<link rel="stylesheet" type="text/css" href="http://docs.sencha.com/extjs/6.2.0-modern/css/prism.css" />
<link rel="stylesheet" type="text/css" href="http://docs.sencha.com/extjs/6.2.0-modern/css/app.css" />

<script>
	/* 	var xx = $map();
	 xx.put("a","a");
	 alert(xx.get("a"));
	 $map().put("a1","a")
	 alert($map().get("a1")); */
</script>
</head>
<body>

</body>
</html>