<html>
<head>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/${extjsVersion}/${bootstrap}.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/code/app.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/plugin/extjs/code/util.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/resource/plugin/extjs/${extjsVersion}/${extjsTheme}" />
</head>
<body>
aa
</body>
</html>
